{% extends 'base.html' %}
{% block content %}

{% if pendientes%}
<h1>{{pendientes}}</h1>
{% else %}
<h1>{{realizadas}}</h1>
<h1>{% endif %}</h1>

<ul>
  {% for task in tasks %}
  <li>
    <a href="{% url 'opciones_tarea' task.id %}">
      {% if task.important %}
      <strong>{{task.title}}</strong>
      {% else %}
      {{task.id}} {{task.title}}
      {% endif %}
      <p>{{task.description}}</p>
      {{task.datecompleted|date:'M j Y:i'}}
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
