{% extends 'base.html' %}
{% block titulo %}
{% if pendientes%}
<h5>{{pendientes}}</h5>
{% else %}
<h5>{{realizadas}}</h5>
<h5>{% endif %}</h5>
{% endblock %}
{% block content %}
<div class="card bg-dark text-white text-center" style="margin-top: 10%;">
<ul>
{% for task in tasks %}
<li style="text-align:left;">
<a href="{% url 'opciones_tarea' task.id %}">OPCIONES</a>
{% if task.important %}
<strong>{{task.title}}</strong>
{% else %}
{{task.title}}
{% endif %}
{{task.description}}
{{task.datecompleted|date:'M j Y:i'}}
</li>
{% endfor %}
</ul>
</div>
{% endblock %}
